  .footer-container,
  .footer-container-dark {
    background-color: #F4F4F4;
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-container-dark {
    background-color: #242424;
  }
  
  .footer-subscription,
  .footer-subscription-dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    margin-bottom: 24px;
    padding: 24px;
    color: #242424;
  }

  .footer-subscription-dark {
    color: #F4F4F4
  }
  
  .footer-subscription > p,
  .footer-subscription-dark > p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  .footer-subscription-heading,
  .footer-subscription-heading-dark {
    margin-bottom: 24px;
    font-size: 24px;
    user-select: none;
  }
  
  .footer-subscription-text,
  .footer-subscription-text-dark {
    margin-bottom: 24px;
    font-size: 20px;
  }
  
  .footer-link-items a:hover,
  .footer-link-items-dark a:hover {
    color: #F4F4F4;
    transition: 0.3s ease-out;
  }
  
  .footer-email-form h2,
  .footer-email-form-dark h2 {
    margin-bottom: 2rem;
  }
  
  .footer-input::placeholder,
  .footer-input-dark::placeholder {
    color: #F4F4F4;
  }
  
  /* Social Icons */
  .social-icons,
  .social-icons-dark {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
  }

  .social-icon-link,
  .social-icon-link-dark {
    font-size: 24px;
    margin-bottom: 24px;
    margin-top: 24px;
    transition: 0.3s ease-in-out;

  }

  .social-icon-link.facebook i {
    color: #3b5998; 
  }

  .social-icon-link.instagram i {
    color: #d62976;
  }

  .social-icon-link.github i,
  .social-icon-link.github-dark i {
      color: black;
      transform: scale(1);

  }

  .social-icon-link.github-dark i {
      color: white;
  }

  .social-icon-link.twitter i {
      color: #00acee;
      transform: scale(1);

  }

  .social-icon-link.linkedin i {
      color: #0072b1;
      transform: scale(1);

  }

  .social-icon-link.facebook:hover,
  .social-icon-link.instagram:hover,
  .social-icon-link.github:hover,
  .social-icon-link.twitter:hover,
  .social-icon-link.linkedin:hover,
  .social-icon-link.github-dark:hover {
      transform: scale(1.15);
  }

  
  .social-media,
  .social-media-dark {
    max-width: 1000px;
    width: 100%;
  }
  
  .social-media-wrap,
  .social-media-wrap-dark {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
  }
  
  .website-rights,
  .website-rights-dark {
    color: #242424;
    user-select: none;
  }

  .website-rights-dark {
    color: #F4F4F4;
  }

  /* React Icon */
  .react-made,
  .react-made-dark {
    display: absolute;
    align-items: center;
    color: #242424;
    margin-left: 125px;
    margin-bottom: -20px;
    padding-bottom: 2rem;
    user-select: none;
  }

  .react-made-dark {
    color: #F4F4F4;
  }
  
  .react-made::after,
  .react-made-dark::after {
    content: '';
    display: inline-block;
    background-image: url('../../../public/images/React-icon.svg');
    width: 15px; 
    height: 15px; 
    margin-left: 5px;
  }

  
  @media screen and (max-width: 820px) {
    .footer-links,
    .footer-links-dark {
      padding-top: 200rem;
    }
  
    .footer-input,
    .footer-input-dark {
      width: 100%;
    }
  
    .footer-link-wrapper,
    .footer-link-wrapper-dark {
      flex-direction: column;
    }
  
    .social-media-wrap,
    .social-media-wrap-dark {
      flex-direction: column;
    }

    .react-made,
    .react-made-dark {
      padding-top: 2rem;
      padding-bottom: 2rem;
      margin-left: 0px;
      margin-bottom: 0px;
    }
  }