.experience,
.education {
    position: relative;
    height: 400px;
}

.experience {
    width: 100%;
    margin-bottom: 20px;
    top: 200px;
}

.experience-title,
.education-title  {
    position: relative;
    color: var(--dark-inverse);
    left: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: var(--font-big);
    user-select: none;
    cursor: pointer;
}

.experience-title-container,
.education-title-container {
    display: flex;
    align-items: center;
    position: relative;
    left: 25px;
    top: 10px;
}

.experience-title-1,
.experience-title-1-job,
.experience-title-2,
.experience-title-2-job,
.education-title-1,
.education-title-1-job,
.education-title-2,
.education-title-2-job {
    font-family: 'Open Sans';
    font-size: var(--font-medium);
    font-weight: bolder;
    color: var(--dark-inverse);
}

.experience-title-1-job,
.experience-title-2-job,
.education-title-1-job,
.education-title-2-job   {
    margin-left: 8px;
    font-weight: 300;
}

.experience-1-points-1 ul,
.experience-2-points-1,
.education-1-points-1 ul,
.education-2-points-1 {
    margin-top: 15px;
    margin-left: 35px;
    list-style-position: inside;
}

.experience-1-points-1 ul li,
.experience-2-points-1 ul li,
.education-1-points-1 ul li,
.education-2-points-1 ul li {
    font-weight: 300;
    font-family: 'Open Sans';
    font-size: var(--font-average);
    color: var(--dark-inverse);
    padding-left: 0;
    margin-left: 0;
}

.experience-line {
    height: 1px;
    background-color: var(--dark-inverse);
    margin-top: -12px;
    float: right;
}

.education-line {
    height: 10px;
    background-color: var(--dark-inverse);
    float: right;
}

.experience-years,
.education-years {
    position: relative;
    color: var(--dark-inverse);
    left: 25px;
    top: 10px;
    font-family: 'Open Sans';
    font-size: var(--font-average);
    font-style: italic;
    font-weight: 400;
}

.experience-image-1,
.education-image-1{
    width: auto;
    height: 20px;
    margin-right: 10px;
}


.accordion {
    margin-top: 20px;
}