.ff0 {
  font-family: sans-serif;
  visibility: hidden;
}

@font-face {
  font-family: ff1;
  src: url(f1.woff) format("woff");
}

.ff1 {
  font-family: ff1;
  line-height: 1.003906;
  font-style: normal;
  font-weight: normal;
  visibility: visible;
}

@font-face {
  font-family: ff2;
  src: url(f2.woff) format("woff");
}

.ff2 {
  font-family: ff2;
  line-height: 1.035156;
  font-style: normal;
  font-weight: normal;
  visibility: visible;
}

@font-face {
  font-family: ff3;
  src: url(f3.woff) format("woff");
}

.ff3 {
  font-family: ff3;
  line-height: 0.969727;
  font-style: normal;
  font-weight: normal;
  visibility: visible;
}

@font-face {
  font-family: ff4;
  src: url(f4.woff) format("woff");
}

.ff4 {
  font-family: ff4;
  line-height: 1.008301;
  font-style: normal;
  font-weight: normal;
  visibility: visible;
}

@font-face {
  font-family: ff5;
  src: url(f5.woff) format("woff");
}

.ff5 {
  font-family: ff5;
  line-height: 1.005371;
  font-style: normal;
  font-weight: normal;
  visibility: visible;
}

@font-face {
  font-family: ff6;
  src: url(f6.woff) format("woff");
}

.ff6 {
  font-family: ff6;
  line-height: 1.008301;
  font-style: normal;
  font-weight: normal;
  visibility: visible;
}

@font-face {
  font-family: ff7;
  src: url(f7.woff) format("woff");
}

.ff7 {
  font-family: ff7;
  line-height: 0.773926;
  font-style: normal;
  font-weight: normal;
  visibility: visible;
}

@font-face {
  font-family: ff8;
  src: url(f8.woff) format("woff");
}

.ff8 {
  font-family: ff8;
  line-height: 0.912109;
  font-style: normal;
  font-weight: normal;
  visibility: visible;
}

@font-face {
  font-family: ff9;
  src: url(f9.woff) format("woff");
}

.ff9 {
  font-family: ff9;
  line-height: 0.773926;
  font-style: normal;
  font-weight: normal;
  visibility: visible;
}

@font-face {
  font-family: ffa;
  src: url(fa.woff) format("woff");
}

.ffa {
  font-family: ffa;
  line-height: 0.910156;
  font-style: normal;
  font-weight: normal;
  visibility: visible;
}

@font-face {
  font-family: ffb;
  src: url(fb.woff) format("woff");
}

.ffb {
  font-family: ffb;
  line-height: 1.213379;
  font-style: normal;
  font-weight: normal;
  visibility: visible;
}

@font-face {
  font-family: ffc;
  src: url(fc.woff) format("woff");
}

.ffc {
  font-family: ffc;
  line-height: 0.924805;
  font-style: normal;
  font-weight: normal;
  visibility: visible;
}


.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}

.v0{vertical-align:0.000000px;}
.ls4{letter-spacing:-0.352000px;}
.ls9{letter-spacing:-0.228400px;}
.lsd{letter-spacing:-0.143600px;}
.ls6{letter-spacing:-0.036960px;}
.ls3{letter-spacing:-0.024960px;}
.ls0{letter-spacing:0.000000px;}
.lsc{letter-spacing:0.024480px;}
.ls7{letter-spacing:0.128000px;}
.ls2{letter-spacing:0.201600px;}
.ls5{letter-spacing:0.208000px;}
.ls8{letter-spacing:0.221200px;}
.lsa{letter-spacing:0.251600px;}
.ls1{letter-spacing:7.800000px;}
.lsb{letter-spacing:8.320000px;}

.sc_ {
  text-shadow: none;
}

.sc0 {
  text-shadow: -0.015em 0 transparent, 0 0.015em transparent, 0.015em 0 transparent, 0 -0.015em transparent;
}

.sc2 {
  text-shadow: -0.015em 0 rgb(38, 38, 38), 0 0.015em rgb(38, 38, 38), 0.015em 0 rgb(38, 38, 38), 0 -0.015em rgb(38, 38, 38);
}

.sc1 {
  text-shadow: -0.015em 0 rgb(0, 0, 0), 0 0.015em rgb(0, 0, 0), 0.015em 0 rgb(0, 0, 0), 0 -0.015em rgb(0, 0, 0);
}

@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
.sc2{-webkit-text-stroke:0.015em rgb(38,38,38);text-shadow:none;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{margin-left:-1.059840px;}
._3{width:1.101120px;}
._5{width:8.047680px;}
._6{width:9.278720px;}
._4{width:11.040000px;}
._7{width:12.849120px;}
._9{width:13.928000px;}
._1{width:15.984000px;}
._8{width:42.598080px;}
._0{width:133.248000px;}
.fc6{color:transparent;}
/*.fc1{color:rgb(255,0,0);}*/
.fc0{color:rgb(0,0,0);}
.fc2{color:rgb(255,255,255);}
.fc3{color:rgb(38,38,38);}
.fc4{color:rgb(127,127,127);}
.fc5{color:rgb(128,128,128);}
.fs7{font-size:20.160000px;}
.fs2{font-size:39.840000px;}
.fs1{font-size:44.160000px;}
.fs0{font-size:48.000000px;}
.fs3{font-size:75.840000px;}
.fs5{font-size:135.840000px;}
.fs4{font-size:152.160000px;}
.fs6{font-size:192.000000px;}
.y43{bottom:-126.150000px;}
.y42{bottom:-113.070000px;}
.y41{bottom:-91.830000px;}
.y40{bottom:-70.110000px;}
.y8e{bottom:-59.400000px;}
.y3f{bottom:-48.510000px;}
.y8d{bottom:-45.720000px;}
.y8c{bottom:-29.160000px;}
.y3e{bottom:-26.880000px;}
.y72{bottom:-16.680000px;}
.y75{bottom:-15.960000px;}
.y8b{bottom:-12.480000px;}
.y84{bottom:-8.880000px;}
.y3d{bottom:-5.280000px;}
.y98{bottom:-1.440100px;}
.y0{bottom:-0.500000px;}
.y1{bottom:0.000000px;}
.y7c{bottom:0.120000px;}
.y77{bottom:1.080000px;}
.y71{bottom:2.640000px;}
.y74{bottom:3.360000px;}
.y45{bottom:3.600000px;}
.y79{bottom:4.080000px;}
.y90{bottom:4.320000px;}
.y35{bottom:5.520000px;}
.y4a{bottom:5.880000px;}
.y7b{bottom:6.840000px;}
.y25{bottom:7.920000px;}
.y3c{bottom:8.280000px;}
.y6f{bottom:9.960000px;}
.y9a{bottom:10.200000px;}
.y83{bottom:10.800000px;}
.y97{bottom:13.680000px;}
.y5b{bottom:15.020000px;}
.y59{bottom:15.840000px;}
.y47{bottom:16.920000px;}
.y33{bottom:19.200000px;}
.y8a{bottom:20.760000px;}
.y3b{bottom:21.960000px;}
.y49{bottom:22.200000px;}
.y6e{bottom:23.640000px;}
.y82{bottom:24.384000px;}
.y96{bottom:28.824000px;}
.y2f{bottom:31.540000px;}
.y31{bottom:31.590000px;}
.y58{bottom:32.880000px;}
.y6d{bottom:37.320000px;}
.y81{bottom:38.064000px;}
.y3a{bottom:41.520000px;}
.y95{bottom:46.824000px;}
.y57{bottom:49.830000px;}
.y6c{bottom:50.880000px;}
.y80{bottom:51.624000px;}
.y89{bottom:54.000000px;}
.y2e{bottom:57.220000px;}
.y2a{bottom:57.480000px;}
.y39{bottom:61.080000px;}
.y6b{bottom:64.590000px;}
.y94{bottom:64.824000px;}
.y7f{bottom:65.304000px;}
.y56{bottom:66.870000px;}
.y88{bottom:70.560000px;}
.y29{bottom:72.480000px;}
.y6a{bottom:78.150000px;}
.y7e{bottom:78.864000px;}
.y38{bottom:80.760000px;}
.y93{bottom:82.824000px;}
.y2d{bottom:82.900000px;}
.y55{bottom:83.790000px;}
.y87{bottom:87.120000px;}
.y28{bottom:87.480000px;}
.y7d{bottom:92.544000px;}
.y37{bottom:94.440000px;}
.y69{bottom:97.830000px;}
.y92{bottom:100.820000px;}
.y54{bottom:100.830000px;}
.y27{bottom:102.360000px;}
.y7a{bottom:106.700000px;}
.y2c{bottom:108.460000px;}
.y68{bottom:114.390000px;}
.y91{bottom:115.820000px;}
.y53{bottom:117.750000px;}
.y67{bottom:129.510000px;}
.y5c{bottom:131.060000px;}
.y8f{bottom:131.900000px;}
.y52{bottom:134.790000px;}
.y66{bottom:137.790000px;}
.y65{bottom:151.470000px;}
.y51{bottom:151.710000px;}
.y4b{bottom:153.860000px;}
.y64{bottom:165.030000px;}
.y50{bottom:168.750000px;}
.y63{bottom:178.710000px;}
.y4f{bottom:185.670000px;}
.y62{bottom:192.270000px;}
.y4e{bottom:202.710000px;}
.y61{bottom:205.950000px;}
.y60{bottom:219.510000px;}
.y4d{bottom:219.650000px;}
.y5f{bottom:233.190000px;}
.y4c{bottom:236.690000px;}
.y5e{bottom:252.770000px;}
.y23{bottom:261.170000px;}
.y5d{bottom:269.450000px;}
.y22{bottom:275.810000px;}
.y21{bottom:290.450000px;}
.y20{bottom:305.090000px;}
.y1f{bottom:319.730000px;}
.y1e{bottom:334.370000px;}
.y1d{bottom:349.010000px;}
.y1c{bottom:363.650000px;}
.y1b{bottom:378.310000px;}
.y99{bottom:381.190000px;}
.y1a{bottom:392.950000px;}
.y19{bottom:407.590000px;}
.y26{bottom:408.550000px;}
.y48{bottom:409.150000px;}
.y44{bottom:416.110000px;}
.y18{bottom:422.230000px;}
.y17{bottom:436.990000px;}
.y86{bottom:442.990000px;}
.y16{bottom:451.630000px;}
.y15{bottom:466.270000px;}
.y14{bottom:480.910000px;}
.y13{bottom:495.550000px;}
.y12{bottom:510.190000px;}
.y11{bottom:524.830000px;}
.y24{bottom:526.390000px;}
.y30{bottom:537.550000px;}
.y2b{bottom:537.600000px;}
.y10{bottom:539.500000px;}
.y85{bottom:548.740000px;}
.yf{bottom:554.140000px;}
.ye{bottom:568.780000px;}
.y36{bottom:572.020000px;}
.yd{bottom:583.420000px;}
.y78{bottom:588.820000px;}
.yc{bottom:598.060000px;}
.y76{bottom:612.100000px;}
.yb{bottom:612.700000px;}
.ya{bottom:627.340000px;}
.y73{bottom:630.100000px;}
.y9{bottom:642.100000px;}
.y32{bottom:643.780000px;}
.y8{bottom:656.740000px;}
.y70{bottom:663.100000px;}
.y7{bottom:671.380000px;}
.y34{bottom:683.380000px;}
.y6{bottom:686.020000px;}
.y5a{bottom:699.940000px;}
.y5{bottom:700.660000px;}
.y4{bottom:715.320000px;}
.y46{bottom:716.400000px;}
.y3{bottom:729.960000px;}
.y2{bottom:744.600000px;}
.h1d{height:11.760000px;}
.h1b{height:13.320000px;}
.h1c{height:14.040000px;}
.h1e{height:14.760000px;}
.h1a{height:15.425156px;}
.h11{height:16.440000px;}
.h22{height:17.160000px;}
.hd{height:18.480000px;}
.h1f{height:19.800000px;}
.h4{height:20.784000px;}
.h25{height:21.960000px;}
.h9{height:30.521953px;}
.hb{height:32.040000px;}
.h7{height:33.831562px;}
.h24{height:34.242188px;}
.h14{height:35.040000px;}
.h10{height:36.000000px;}
.h19{height:36.260625px;}
.h5{height:36.468750px;}
.he{height:36.726562px;}
.h2{height:47.742188px;}
.h12{height:48.600000px;}
.h3{height:49.148438px;}
.h16{height:59.064000px;}
.hc{height:77.654531px;}
.h21{height:97.824000px;}
.h20{height:103.220000px;}
.hf{height:105.120000px;}
.h13{height:105.204375px;}
.h6{height:114.120000px;}
.h8{height:119.160000px;}
.ha{height:119.180000px;}
.h23{height:127.460000px;}
.h17{height:132.750000px;}
.h15{height:248.450000px;}
.h18{height:280.130000px;}
.h0{height:792.000000px;}
.h1{height:792.500000px;}
.w12{width:40.800000px;}
.w11{width:41.520000px;}
.w13{width:41.640000px;}
.w10{width:42.240000px;}
.we{width:84.744000px;}
.wd{width:95.304000px;}
.w5{width:151.800000px;}
.w6{width:151.850000px;}
.w8{width:158.060000px;}
.w3{width:177.860000px;}
.w4{width:187.850000px;}
.w7{width:188.810000px;}
.wc{width:193.970000px;}
.w14{width:294.050000px;}
.w9{width:339.190000px;}
.wa{width:344.570000px;}
.w16{width:361.490000px;}
.wf{width:375.790000px;}
.wb{width:380.350000px;}
.w15{width:388.150000px;}
.w2{width:611.999991px;}
.w0{width:612.000000px;}
.w1{width:612.500000px;}
.x0{left:0.000000px;}
.xf{left:3.960000px;}
.x5{left:7.200000px;}
.x4{left:15.600000px;}
.xd{left:17.040000px;}
.x10{left:25.080000px;}
.xc{left:28.920000px;}
.x1{left:35.999991px;}
.x6{left:49.800000px;}
.x2{left:52.319991px;}
.x3{left:53.519991px;}
.xe{left:57.000000px;}
.x7{left:100.700000px;}
.x8{left:103.460000px;}
.x12{left:109.460000px;}
.x9{left:214.850000px;}
.xb{left:218.570000px;}
.x11{left:219.770000px;}
.xa{left:270.290000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls4{letter-spacing:-0.469333pt;}
.ls9{letter-spacing:-0.304533pt;}
.lsd{letter-spacing:-0.191467pt;}
.ls6{letter-spacing:-0.049280pt;}
.ls3{letter-spacing:-0.033280pt;}
.ls0{letter-spacing:0.000000pt;}
.lsc{letter-spacing:0.032640pt;}
.ls7{letter-spacing:0.170667pt;}
.ls2{letter-spacing:0.268800pt;}
.ls5{letter-spacing:0.277333pt;}
.ls8{letter-spacing:0.294933pt;}
.lsa{letter-spacing:0.335467pt;}
.ls1{letter-spacing:10.400000pt;}
.lsb{letter-spacing:11.093333pt;}
.ws0{word-spacing:0.000000pt;}
._2{margin-left:-1.413120pt;}
._3{width:1.468160pt;}
._5{width:10.730240pt;}
._6{width:12.371627pt;}
._4{width:14.720000pt;}
._7{width:17.132160pt;}
._9{width:18.570667pt;}
._1{width:21.312000pt;}
._8{width:56.797440pt;}
._0{width:177.664000pt;}
.fs7{font-size:26.880000pt;}
.fs2{font-size:53.120000pt;}
.fs1{font-size:58.880000pt;}
.fs0{font-size:64.000000pt;}
.fs3{font-size:101.120000pt;}
.fs5{font-size:181.120000pt;}
.fs4{font-size:202.880000pt;}
.fs6{font-size:256.000000pt;}
.y43{bottom:-168.200000pt;}
.y42{bottom:-150.760000pt;}
.y41{bottom:-122.440000pt;}
.y40{bottom:-93.480000pt;}
.y8e{bottom:-79.200000pt;}
.y3f{bottom:-64.680000pt;}
.y8d{bottom:-60.960000pt;}
.y8c{bottom:-38.880000pt;}
.y3e{bottom:-35.840000pt;}
.y72{bottom:-22.240000pt;}
.y75{bottom:-21.280000pt;}
.y8b{bottom:-16.640000pt;}
.y84{bottom:-11.840000pt;}
.y3d{bottom:-7.040000pt;}
.y98{bottom:-1.920133pt;}
.y0{bottom:-0.666667pt;}
.y1{bottom:0.000000pt;}
.y7c{bottom:0.160000pt;}
.y77{bottom:1.440000pt;}
.y71{bottom:3.520000pt;}
.y74{bottom:4.480000pt;}
.y45{bottom:4.800000pt;}
.y79{bottom:5.440000pt;}
.y90{bottom:5.760000pt;}
.y35{bottom:7.360000pt;}
.y4a{bottom:7.840000pt;}
.y7b{bottom:9.120000pt;}
.y25{bottom:10.560000pt;}
.y3c{bottom:11.040000pt;}
.y6f{bottom:13.280000pt;}
.y9a{bottom:13.600000pt;}
.y83{bottom:14.400000pt;}
.y97{bottom:18.240000pt;}
.y5b{bottom:20.026667pt;}
.y59{bottom:21.120000pt;}
.y47{bottom:22.560000pt;}
.y33{bottom:25.600000pt;}
.y8a{bottom:27.680000pt;}
.y3b{bottom:29.280000pt;}
.y49{bottom:29.600000pt;}
.y6e{bottom:31.520000pt;}
.y82{bottom:32.512000pt;}
.y96{bottom:38.432000pt;}
.y2f{bottom:42.053333pt;}
.y31{bottom:42.120000pt;}
.y58{bottom:43.840000pt;}
.y6d{bottom:49.760000pt;}
.y81{bottom:50.752000pt;}
.y3a{bottom:55.360000pt;}
.y95{bottom:62.432000pt;}
.y57{bottom:66.440000pt;}
.y6c{bottom:67.840000pt;}
.y80{bottom:68.832000pt;}
.y89{bottom:72.000000pt;}
.y2e{bottom:76.293333pt;}
.y2a{bottom:76.640000pt;}
.y39{bottom:81.440000pt;}
.y6b{bottom:86.120000pt;}
.y94{bottom:86.432000pt;}
.y7f{bottom:87.072000pt;}
.y56{bottom:89.160000pt;}
.y88{bottom:94.080000pt;}
.y29{bottom:96.640000pt;}
.y6a{bottom:104.200000pt;}
.y7e{bottom:105.152000pt;}
.y38{bottom:107.680000pt;}
.y93{bottom:110.432000pt;}
.y2d{bottom:110.533333pt;}
.y55{bottom:111.720000pt;}
.y87{bottom:116.160000pt;}
.y28{bottom:116.640000pt;}
.y7d{bottom:123.392000pt;}
.y37{bottom:125.920000pt;}
.y69{bottom:130.440000pt;}
.y92{bottom:134.426667pt;}
.y54{bottom:134.440000pt;}
.y27{bottom:136.480000pt;}
.y7a{bottom:142.266667pt;}
.y2c{bottom:144.613333pt;}
.y68{bottom:152.520000pt;}
.y91{bottom:154.426667pt;}
.y53{bottom:157.000000pt;}
.y67{bottom:172.680000pt;}
.y5c{bottom:174.746667pt;}
.y8f{bottom:175.866667pt;}
.y52{bottom:179.720000pt;}
.y66{bottom:183.720000pt;}
.y65{bottom:201.960000pt;}
.y51{bottom:202.280000pt;}
.y4b{bottom:205.146667pt;}
.y64{bottom:220.040000pt;}
.y50{bottom:225.000000pt;}
.y63{bottom:238.280000pt;}
.y4f{bottom:247.560000pt;}
.y62{bottom:256.360000pt;}
.y4e{bottom:270.280000pt;}
.y61{bottom:274.600000pt;}
.y60{bottom:292.680000pt;}
.y4d{bottom:292.866667pt;}
.y5f{bottom:310.920000pt;}
.y4c{bottom:315.586667pt;}
.y5e{bottom:337.026667pt;}
.y23{bottom:348.226667pt;}
.y5d{bottom:359.266667pt;}
.y22{bottom:367.746667pt;}
.y21{bottom:387.266667pt;}
.y20{bottom:406.786667pt;}
.y1f{bottom:426.306667pt;}
.y1e{bottom:445.826667pt;}
.y1d{bottom:465.346667pt;}
.y1c{bottom:484.866667pt;}
.y1b{bottom:504.413333pt;}
.y99{bottom:508.253333pt;}
.y1a{bottom:523.933333pt;}
.y19{bottom:543.453333pt;}
.y26{bottom:544.733333pt;}
.y48{bottom:545.533333pt;}
.y44{bottom:554.813333pt;}
.y18{bottom:562.973333pt;}
.y17{bottom:582.653333pt;}
.y86{bottom:590.653333pt;}
.y16{bottom:602.173333pt;}
.y15{bottom:621.693333pt;}
.y14{bottom:641.213333pt;}
.y13{bottom:660.733333pt;}
.y12{bottom:680.253333pt;}
.y11{bottom:699.773333pt;}
.y24{bottom:701.853333pt;}
.y30{bottom:716.733333pt;}
.y2b{bottom:716.800000pt;}
.y10{bottom:719.333333pt;}
.y85{bottom:731.653333pt;}
.yf{bottom:738.853333pt;}
.ye{bottom:758.373333pt;}
.y36{bottom:762.693333pt;}
.yd{bottom:777.893333pt;}
.y78{bottom:785.093333pt;}
.yc{bottom:797.413333pt;}
.y76{bottom:816.133333pt;}
.yb{bottom:816.933333pt;}
.ya{bottom:836.453333pt;}
.y73{bottom:840.133333pt;}
.y9{bottom:856.133333pt;}
.y32{bottom:858.373333pt;}
.y8{bottom:875.653333pt;}
.y70{bottom:884.133333pt;}
.y7{bottom:895.173333pt;}
.y34{bottom:911.173333pt;}
.y6{bottom:914.693333pt;}
.y5a{bottom:933.253333pt;}
.y5{bottom:934.213333pt;}
.y4{bottom:953.760000pt;}
.y46{bottom:955.200000pt;}
.y3{bottom:973.280000pt;}
.y2{bottom:992.800000pt;}
.h1d{height:15.680000pt;}
.h1b{height:17.760000pt;}
.h1c{height:18.720000pt;}
.h1e{height:19.680000pt;}
.h1a{height:20.566875pt;}
.h11{height:21.920000pt;}
.h22{height:22.880000pt;}
.hd{height:24.640000pt;}
.h1f{height:26.400000pt;}
.h4{height:27.712000pt;}
.h25{height:29.280000pt;}
.h9{height:40.695937pt;}
.hb{height:42.720000pt;}
.h7{height:45.108750pt;}
.h24{height:45.656250pt;}
.h14{height:46.720000pt;}
.h10{height:48.000000pt;}
.h19{height:48.347500pt;}
.h5{height:48.625000pt;}
.he{height:48.968750pt;}
.h2{height:63.656250pt;}
.h12{height:64.800000pt;}
.h3{height:65.531250pt;}
.h16{height:78.752000pt;}
.hc{height:103.539375pt;}
.h21{height:130.432000pt;}
.h20{height:137.626667pt;}
.hf{height:140.160000pt;}
.h13{height:140.272500pt;}
.h6{height:152.160000pt;}
.h8{height:158.880000pt;}
.ha{height:158.906667pt;}
.h23{height:169.946667pt;}
.h17{height:177.000000pt;}
.h15{height:331.266667pt;}
.h18{height:373.506667pt;}
.h0{height:1056.000000pt;}
.h1{height:1056.666667pt;}
.w12{width:54.400000pt;}
.w11{width:55.360000pt;}
.w13{width:55.520000pt;}
.w10{width:56.320000pt;}
.we{width:112.992000pt;}
.wd{width:127.072000pt;}
.w5{width:202.400000pt;}
.w6{width:202.466667pt;}
.w8{width:210.746667pt;}
.w3{width:237.146667pt;}
.w4{width:250.466667pt;}
.w7{width:251.746667pt;}
.wc{width:258.626667pt;}
.w14{width:392.066667pt;}
.w9{width:452.253333pt;}
.wa{width:459.426667pt;}
.w16{width:481.986667pt;}
.wf{width:501.053333pt;}
.wb{width:507.133333pt;}
.w15{width:517.533333pt;}
.w2{width:815.999988pt;}
.w0{width:816.000000pt;}
.w1{width:816.666667pt;}
.x0{left:0.000000pt;}
.xf{left:5.280000pt;}
.x5{left:9.600000pt;}
.x4{left:20.800000pt;}
.xd{left:22.720000pt;}
.x10{left:33.440000pt;}
.xc{left:38.560000pt;}
.x1{left:47.999988pt;}
.x6{left:66.400000pt;}
.x2{left:69.759988pt;}
.x3{left:71.359988pt;}
.xe{left:76.000000pt;}
.x7{left:134.266667pt;}
.x8{left:137.946667pt;}
.x12{left:145.946667pt;}
.x9{left:286.466667pt;}
.xb{left:291.426667pt;}
.x11{left:293.026667pt;}
.xa{left:360.386667pt;}
}