// Light Appearance
[data-appearance='light'] {
  --bg: #F4F4F4;
  --surface: rgba(255, 255, 255, 0.7);
  --border: rgba(0, 0, 0, 0.1);
  --text: #242424;
  --text-muted: #666666;
  --accent: #b3b3b3; // Replaces toggle-bg and nav-link-bg
}

// Dark Appearance
[data-appearance='dark'] {
  --bg: #0a0a0a;
  --surface: rgba(0, 0, 0, 0.7);
  --border: rgba(255, 255, 255, 0.1);
  --text: #ededed;
  --text-muted: #a0a0a0;
  --accent: #000000;
}