@use "./variables" as *;
@use "./themes/appearance";
@use "./themes/default";
@use "./themes/neon";
@use "./themes/cyberpunk";

// Functional Global Styles
*,
*::before,
*::after {
  box-sizing: border-box; //
}

html,
body {
  max-width: 100vw; //
  overflow-x: hidden; //
  margin: 0; //
  padding: 0; //

  // Use the simplified variables directly
  background-color: $bg;
  color: $text;
  font-family: $font-main;

  -webkit-font-smoothing: antialiased; //
  -moz-osx-font-smoothing: grayscale; //
}

a {
  color: inherit; //
  text-decoration: none; //
  transition: color $transition-speed; //

  &:hover {
    color: $primary; // Simple hover state using the primary semantic color
  }
}