@use "../../../../../assets/styles/variables" as *;

// Sizing Variables
:root {
  --toggle-width: 11rem;
  --toggle-height: 4rem;
  --toggle-orb-size: 3rem;
  --toggle-padding: 0.5rem;
  --toggle-orb-offset: 6.75rem;
}

.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &--small {
    --toggle-width: 4.5rem;
    --toggle-height: 1.8rem;
    --toggle-orb-size: 1.4rem;
    --toggle-padding: 0.2rem;
    --toggle-orb-offset: 2.7rem;

    svg {
      width: 0.8rem !important;
      height: 0.8rem !important;
    }
  }

  &--medium {
    --toggle-width: 7rem;
    --toggle-height: 2.8rem;
    --toggle-orb-size: 2.1rem;
    --toggle-padding: 0.35rem;
    --toggle-orb-offset: 4.2rem;

    svg {
      width: 1.1rem !important;
      height: 1.1rem !important;
    }
  }
}

.toggle-track {
  position: relative;
  width: var(--toggle-width);
  height: var(--toggle-height);
  padding: var(--toggle-padding);
  border-radius: 9999px;
  border: 2px solid $toggle-border-shadow;
  background-color: $toggle-sky-day;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-radius 0.5s ease;
  display: flex;
  align-items: center;
  z-index: 2;

  &[data-appearance='dark'] {
    background-color: $toggle-sky-night;
    border-color: $toggle-border-shadow;
    box-shadow: 0 0 $toggle-aura-intensity $toggle-aura-color;
  }
}

.toggle-body {
  position: absolute;
  left: var(--toggle-padding);
  width: var(--toggle-orb-size);
  height: var(--toggle-orb-size);
  border-radius: 50%;
  transition: transform 0.7s cubic-bezier(0.3, -0.2, 0.2, 1.2), background 0.7s, border-radius 0.5s ease;
  box-shadow: 0 10px 15px -3px $toggle-body-shadow;
  z-index: 10;
  overflow: hidden;
}

.body-inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  svg {
    transition: all 0.5s ease;
    z-index: 2;
  }
}

.track-background {
  position: absolute;
  inset: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  z-index: 0;
}

.outer-glow {
  position: absolute;
  inset: -1.5rem;
  border-radius: 9999px;
  filter: blur(60px);
  opacity: 0.25;
  transition: all 1s;
  z-index: 1;
  pointer-events: none;
}