@use "../../../../../../styles/variables" as *;

.glitch-layer {
  position: absolute;
  inset: -1px;
  pointer-events: none;
  opacity: 0;
  border: 2px solid transparent;

  :global(.aesthetic-shell):hover & {
    animation: glitch-slice 0.4s infinite linear alternate-reverse;
    opacity: 0.6;
  }

  &.red {
    border-color: $cyber-red;
    transform: translate(2px, -1px);
  }

  &.cyan {
    border-color: $neon-cyan;
    transform: translate(-2px, 1px);
    animation-delay: 0.2s;
  }
}
