.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    z-index: 1001;
    position: fixed;
    left: 0;
}

.nav-menu {
    display: flex;
    list-style-type: none;
}

/* Button around text in mobile menu and navbar*/
.nav-link, 
.nav-link-dark {
    color: #F4F4F4;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    display: inline-block;
    border-radius: 25px; 
    background-color: #9AC2E6; 
    font-weight: bold;
    transition: transform 0.3s;
    transform: scale(1);
    margin-left: 0;
}

.nav-link:hover {
    transform: scale(1.05);
    color: #242424;
}

.nav-link-dark {
    color: #242424;
    background-color: #B39DDB;
}

.nav-link-dark:hover {
    color: #F4F4F4;
    transform: scale(1.05);
}

/* Name */
.logo,
.logo-dark {
    color: #F5F5F5;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: inline-block;
    border-radius: 25px; 
    background-color: #9AC2E6; 
    transition: transform 0.3s;
    transform: scale(1);
    margin-left: 0;
    user-select: none;
}

.logo-dark {
    color: #242424;
    background-color: #B39DDB; 
}

/* Spacing for Menu Bubbles */ 
li {
    padding: 0 1rem;
}

.mobile-menu {
    display: none;
}

.icon {
    font-size: 1.5rem;
    cursor: pointer;
}


/* Hamburger Menu */
.fas.fa-bars,
.fas.fa-bars-dark {
    color: #242424;
    cursor: pointer;
}

.fas.fa-bars-dark {
    color: #F4F4F4;
}

/* Social Icons */
.social,
.social-dark {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 240px;
}

.social-link,
.social-link-dark {
    font-size: 24px;
    margin-bottom: 24px;
    margin-top: 24px;
    transition: 0.3s ease-in-out;
}

.social-link.facebook i {
    color: #3b5998; 
}

.social-link.instagram i {
    color: #d62976;
}

.social-link.github i,
.social-link.github-dark i {
    color: black;
    transform: scale(1);

}

.social-link.github-dark i {
    color: white;
}

.social-link.twitter i {
    color: #00acee;
    transform: scale(1);

}

.social-link.linkedin i {
    color: #0072b1;
    transform: scale(1);

}

.social-link.facebook:hover,
.social-link.instagram:hover,
.social-link.github:hover,
.social-link.twitter:hover,
.social-link.linkedin:hover,
.social-link.github-dark:hover {
    transform: scale(1.15);
}



/* For desktop view */
@media screen and (min-width: 741px) {
    .darklight-container {
      margin-top: -0.4rem; 
      margin-left: 0.4rem;
    }
}

@media screen and (max-width: 740px) {
    .mobile-menu,
    .mobile-menu-dark {
        display: flex;
        flex-direction: column;
        width: 55%;
        top: 0;
        left: -100%;
        height: 100%;
        position: fixed;
        justify-content: center;
        align-items: center;
        
        background-color: rgba(176, 176, 176, 0.7);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px);
        transition: left 0.3s, background-color 0.3s, box-shadow 0.3s, 0.3s ease-out;
        border-radius: 25px;
        z-index: 10;
    }
  
    .mobile-menu-dark {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .mobile-menu .nav-link {
        margin-left: 40px;
    }

    /*Dark Mode Toggle*/
    .darklight-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
      
    .darklight-toggle {
        display: flex;
        align-items: center;
    }
      
    .darklight-toggle .icon {
        margin-right: 0.5rem;
    }
    
    /* Connects navbar to mobile menu */
    .active {
        left: 0
    }

    /* Hides scroll bar */
    body.mobile-menu-active {
        overflow: hidden;
    }

    body.overflow-hidden {
        overflow: hidden;
    }

    /* Lines */
    .mobile-menu li {
        padding: 1.2rem 1rem;
        margin: 0 1rem;
        border-bottom: 2px solid rgb(203, 203, 203);
        /* Remove bullet points */
        list-style-type: none;
    }

    /* Remove bottom border from last item */
    .mobile-menu li:last-child {
        border-bottom: none;
    }

    /* Text */
    .mobile-menu .nav-link,
    .nav-link-dark {
        color: #F4F4F4;
        text-decoration: none;
        transition: color 0.3s;
        cursor: pointer;
        transition: transform 0.3s;
        transform: scale(1);
    }

    .mobile-menu .nav-link-dark {
        color: #242424;
    }


    /* Text Color on Hover */
    .mobile-menu .nav-link:hover,
    .nav-link-dark:hover {
        color: #242424;

        transition: transform 0.3s;
        transform: scale(1.05);
    }

    .mobile-menu .nav-link-dark:hover {
        color: #F4F4F4;
    }

    /* Space above mobile menu */
    .mobile-nav {
        margin: 1rem 0;
    }


    /* Top of the Menu */
    .mobile-menu-top {
        position: relative;
    }

    /* Mobile menu icons */
    .mobile-menu-bottom {
        width: 100%;
        margin-top: 40vh;
        position: relative;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
    }


    .mobile-menu button {
        margin: 1rem;
        width: 90%;
    }

    .nav-menu {
        display: none;
    }

    .nav-icons {
        display: none;
    }

    /* Exit Button */
    .fas.fa-times, 
    .fas.fa-times-dark {
        color: #242424;
        cursor: pointer;
        width: 100%;
        height: 30px;
        border-radius: 25px;
        padding: 0.5rem 1rem;
        background-color: #F4F4F4;
        display: inline-block;
        justify-content: center;
        align-items: center;
        transform: scale(1);
        transition: 0.3s ease-out;
    }

    .fas.fa-times-dark {
        color: #F4F4F4;
        background-color: #242424;
    }

    .fas.fa-times:hover {
        transform: scale(1.05);
        transition: 0.3s ease-in-out;
    }
}


@media screen and (max-width: 600px) {

    .fas.fa-times, 
    .fas.fa-times-dark {
        width: 90%;
    }

    .mobile-menu button {
        margin: 2rem;
        width: 80%;
    }
}


@media screen and (max-height: 800px) {

    .mobile-menu-bottom {
        width: 100%;
        position: relative;
        margin-top: 20vh;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
    }

}

@media screen and (max-height: 600px) {

    .mobile-menu-bottom {
        width: 100%;
        position: relative;
        margin-top: 5vh;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
    }
    
}

@media screen and (max-height: 400px) {

    /* Mobile menu icons */
    .mobile-menu-bottom {
        width: 100%;
        position: relative;
        margin-top: -5vh;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
    }

}