.floating-button-container {
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.floating-button.main-button .plus,
.floating-button.main-button .x {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.floating-button.main-button {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}

.floating-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: blue;
  color: white;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.floating-button.hovered {
  transform: scale(1.1);
}

.floating-button-group {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 20px;
  right: 0;
}

.floating-button + .floating-button {
  margin-top: 10px;
}
