@use "../../../../../styles/variables" as *;

.cards {
  padding: 4rem;
  background: $bg;
  position: relative;
  transition: background-color $transition-speed;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 1px;
    background-color: $text;
    bottom: 0;
  }

  h1 {
    text-align: center;
    padding-bottom: 4rem;
    color: $text;
  }
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.items {
  margin-bottom: 5%;
  padding: 0;
  list-style: none;

  @media only screen and (min-width: 1024px) {
    display: flex;
  }
}

.item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
  transform: scale(1);
  transition: 0.3s ease-out;

  &:hover {
    transform: scale(1.02);
  }

  @media only screen and (max-width: 1024px) {
    margin-bottom: 2rem;
  }
}

.link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.17); // Subbed with neutral shadow
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  transition: box-shadow $transition-speed;
}

.item-pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
  margin: 0;

  &::after {
    content: attr(data-category);
    position: absolute;
    bottom: 10px;
    margin-left: 10px;
    padding: 6px 10px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: $bg;
    background-color: $primary;
    box-sizing: border-box;
    border-radius: 25px;
  }
}

.item-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
}

.item-info {
  padding: 20px 30px 30px;
  user-select: none;
  pointer-events: none;
  background: $surface;
}

.item-text {
  color: $text;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}
