[data-theme='cyberpunk'] {
  --primary: $pantone-blazing-yellow;
  --primary-hover: $pantone-blazing-yellow-light;
  --radius-md: 0;
  --radius-sm: 0;

  &[data-appearance='light'] {
    --bg: $pantone-blazing-yellow;
    --surface: rgba($pantone-blazing-yellow, 0.8);
    --border: $pantone-black-pure;
    --border-light: rgba($pantone-black-pure, 0.3);
    --text: $pantone-black-pure;
    --primary: $pantone-black-pure;
    --text-muted: $pantone-caviar;
  }

  &[data-appearance='dark'] {
    --bg: $pantone-black-pure;
    --surface: rgba($pantone-black-pure, 0.8);
    --border: $pantone-blazing-yellow;
    --border-light: rgba($pantone-blazing-yellow, 0.4);
    --text: $pantone-blazing-yellow;
    --primary: $pantone-blazing-yellow;
    --text-muted: $pantone-olive-gold;
  }
}