[data-theme='default'] {
  --primary: $pantone-canal-blue;
  --primary-hover: $pantone-air-force-blue;

  &[data-appearance='dark'] {
    --primary: $pantone-lavendula;
    --primary-hover: $pantone-purple-heather;
  }
}