/* =========================================
   Base Pure Color Tokens
   ========================================= */

$white: #ffffff;
$black: #000000;

// Cyberpunk Palette
$cyber-yellow: #fcee0a;
$cyber-red: #ff003c;

// Neon Palette
$neon-cyan: #00f3ff;
$neon-magenta: #ff00ff;

// Other static colors
$sun-yellow: #ffd700;
$stat-orange-fallback: #ff9800;
