@use "../../../../../../../styles/variables" as *;

.cyber-decor {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 1;

  .corner {
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    border-color: $cyber-yellow;

    &.tl {
      top: 0;
      left: 0;
      border-top: 1px solid;
      border-left: 1px solid;
    }

    &.tr {
      top: 0;
      right: 0;
      border-top: 1px solid;
      border-right: 1px solid;
    }

    &.bl {
      bottom: 0;
      left: 0;
      border-bottom: 1px solid;
      border-left: 1px solid;
    }

    &.br {
      bottom: 0;
      right: 0;
      border-bottom: 1px solid;
      border-right: 1px solid;
    }
  }

  .center-line {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1rem;
    height: 1px;
    background-color: $cyber-yellow-border;
  }
}
